.container {
    display: flex;
    flex: 1;
}

.bannerContainer {
    display: none;
    flex: 1;
}

@media (min-width: 769px) {
    .container {
        flex-direction: row;
    }

    .formContainer {
        flex: 1;
    }

    .bannerContainer {
        display: block;
        flex: 1;
    }

    .banner {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
